body {
  font-family: 'Roboto', sans-serif;
  background-color: #4c43d4;
  color: #fff;
  padding: 0;
  margin: 0;
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
